.about-us {
	background: url(../images/kramer-bg.jpg) left center, no-repeat;
    background-size: cover;
}
.bg-chopin {
		background-image: url(../images/bg-chopin.jpg);
		background-size: contain;
		background-repeat: no-repeat;
	}

