footer {
	background: black;

	.footer {

		ul {
			margin-top: 1rem;
		}

		 li {
		 	list-style: none;
		 	a {
		 		text-decoration: none;
		 		color: white;
		 	}
		 }
		 .social-pages {
		 	img {
		 		filter: invert(1);
		 		width: 50px;
		 		margin: 15px;

		 		&:hover {
		 			content: '';
		 			opacity: .7;
		 		}
		 	}
		 }
	}
}