@import "base/normalize";
@import "base/fonts";
@import "base/variables";
@import "base/mixins";

* {
	box-sizing: border-box;
	background: transparent;
}

section {
	padding: 2em 0;
}
h1 {
	font-size: 3em;
}
li {
	cursor: pointer;
}
.btn-primary {
	background-color: $primary;
	border-color: $primary;
}
span {
	margin-bottom: 30px;
}
.go-up {
		background: url(../images/icons/upload.png) 100% 100% no-repeat;
		border-style: none;
		bottom: 10%;
		right: 10%;
		position: fixed;
		width: 64px;
		height: 64px;

		&:focus {
			outline: none;
		}

	}
@import "layouts/header";
@import "layouts/home-page";
@import "layouts/footer";
@import "layouts/lessons";
@import "layouts/contacts";




